@charset "UTF-8";
/* godlike reset */
@-ms-viewport {
  width: device-width;
  initial-scale: 1;
}
@-moz-viewport {
  width: device-width;
  initial-scale: 1;
}
@-webkit-viewport {
  width: device-width;
  initial-scale: 1;
}
*,
:before,
:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
}

span {
  display: inline-block;
}

a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

a,
button,
[type=button],
[type=submit] {
  transition: color 0.25s, background 0.25s, opacity 0.25s;
}
a > *,
button > *,
[type=button] > *,
[type=submit] > * {
  pointer-events: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none;
}

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
}

p {
  margin: 0;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden;
}

b,
strong {
  font-weight: 700;
}

audio,
canvas {
  display: inline-block;
}

img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

img,
embed,
object,
iframe,
video {
  display: block;
  margin: auto;
}

img {
  image-rendering: optimizeQuality;
}

svg {
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}

progress {
  vertical-align: baseline;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select,
button,
button > * {
  display: inline-block;
  vertical-align: middle;
}

button,
label,
select,
summary,
[type=button],
[type=submit],
[type=reset],
[type=checkbox],
[type=radio],
[type=range] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

select,
[type=button],
[type=submit],
[type=search],
[type=radio],
[type=range],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;
}

::marker {
  display: none;
}

[type=radio] {
  -webkit-appearance: radio;
}

[type=number] {
  -moz-appearance: textfield;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

input,
textarea {
  width: 100%;
}

input {
  text-overflow: ellipsis;
}

textarea {
  overflow: auto;
  resize: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

:disabled {
  pointer-events: none;
  cursor: not-allowed;
  -webkit-text-fill-color: initial;
}

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::-moz-placeholder {
  opacity: 1;
  color: inherit;
}

:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}

::placeholder {
  opacity: 1;
  color: inherit;
}

::-moz-placeholder {
  opacity: 1;
  color: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: center;
}

/* end godlike reset */
@media (prefers-reduced-motion) {
  *,
*::before,
*::after {
    transition-duration: 0.001ms !important;
    -webkit-animation-duration: 0.001ms !important;
            animation-duration: 0.001ms !important;
  }
}
body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
@media (prefers-reduced-motion) {
  body,
html {
    scroll-behavior: auto;
  }
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

input {
  font-family: inherit;
  padding: 0.3em 0.5em 0.15em;
  line-height: 1;
}

textarea {
  font-family: inherit;
  resize: vertical;
  padding: 0.3em;
  line-height: 1.2;
}

h2 {
  color: var(--h2-color);
}

/* color themes */
:root {
  --main-400-light: hsl(235, 56%, 84%);
  --main-300-light: hsl(233, 17%, 72%);
  --main-200-light: hsl(230, 18%, 80%);
  --main-100-light: hsl(233, 18%, 90%);
  --accent-700-light: hsl(32, 100%, 36%);
  --accent-400-light: hsl(32, 100%, 66%);
  --accent-300-light: hsl(32, 100%, 76%);
  --accent-200-light: hsl(32, 100%, 86%);
  --accent-100-light: hsl(33, 100%, 96%);
  --body-text-light: #313131;
  --link-text-light: blue;
  --focus-color-light: black;
  --h2-color-light: var(--body-text-light);
  --form-text-light: var(--body-text-light);
  --button-text-light: var(--body-text-light);
  --hair-first-light: hsl(15, 86%, 55%);
  --hair-second-light: hsl(0, 81%, 21%);
  --main-400-dark: hsl(240, 13%, 55%);
  --main-300-dark: hsl(240, 13%, 45%);
  --main-200-dark: hsl(240, 13%, 35%);
  --main-100-dark: hsl(240, 13%, 25%);
  --accent-700-dark: hsl(43, 52%, 35%);
  --accent-400-dark: hsl(43, 52%, 55%);
  --accent-300-dark: hsl(43, 52%, 65%);
  --accent-200-dark: hsl(43, 52%, 75%);
  --accent-100-dark: hsl(43, 52%, 85%);
  --body-text-dark: #D6D6D6;
  --link-text-dark: lightblue;
  --focus-color-dark: white;
  --h2-color-dark: #2c2c2c;
  --form-text-dark: white;
  --button-text-dark: black;
  --hair-first-dark: rgb(136, 75, 123);
  --hair-second-dark: rgb(54, 8, 72);
}

body.light {
  --main-400: var(--main-400-light);
  --main-300: var(--main-300-light);
  --main-200: var(--main-200-light);
  --main-100: var(--main-100-light);
  --accent-700: var(--accent-700-light);
  --accent-400: var(--accent-400-light);
  --accent-300: var(--accent-300-light);
  --accent-200: var(--accent-200-light);
  --accent-100: var(--accent-100-light);
  --body-text: var(--body-text-light);
  --link-text: var(--link-text-light);
  --focus-color: var(--focus-color-light);
  --h2-color: var(--h2-color-light);
  --form-text: var(--form-text-light);
  --button-text: var(--button-text-light);
  --hair-first: var(--hair-first-light);
  --hair-second: var(--hair-second-light);
}

body.dark {
  --main-400: var(--main-400-dark);
  --main-300: var(--main-300-dark);
  --main-200: var(--main-200-dark);
  --main-100: var(--main-100-dark);
  --accent-700: var(--accent-700-dark);
  --accent-400: var(--accent-400-dark);
  --accent-300: var(--accent-300-dark);
  --accent-200: var(--accent-200-dark);
  --accent-100: var(--accent-100-dark);
  --body-text: var(--body-text-dark);
  --link-text: var(--link-text-dark);
  --focus-color: var(--focus-color-dark);
  --h2-color: var(--h2-color-dark);
  --form-text: var(--form-text-dark);
  --button-text: var(--button-text-dark);
  --hair-first: var(--hair-first-dark);
  --hair-second: var(--hair-second-dark);
}

body.system {
  --main-400: var(--main-400-light);
  --main-300: var(--main-300-light);
  --main-200: var(--main-200-light);
  --main-100: var(--main-100-light);
  --accent-700: var(--accent-700-light);
  --accent-400: var(--accent-400-light);
  --accent-300: var(--accent-300-light);
  --accent-200: var(--accent-200-light);
  --accent-100: var(--accent-100-light);
  --body-text: var(--body-text-light);
  --link-text: var(--link-text-light);
  --focus-color: var(--focus-color-light);
  --h2-color: var(--h2-color-light);
  --form-text: var(--form-text-light);
  --button-text: var(--button-text-light);
  --hair-first: var(--hair-first-light);
  --hair-second: var(--hair-second-light);
}
@media (prefers-color-scheme: dark) {
  body.system {
    --main-400: var(--main-400-dark);
    --main-300: var(--main-300-dark);
    --main-200: var(--main-200-dark);
    --main-100: var(--main-100-dark);
    --accent-700: var(--accent-700-dark);
    --accent-400: var(--accent-400-dark);
    --accent-300: var(--accent-300-dark);
    --accent-200: var(--accent-200-dark);
    --accent-100: var(--accent-100-dark);
    --body-text: var(--body-text-dark);
    --link-text: var(--link-text-dark);
    --focus-color: var(--focus-color-dark);
    --h2-color: var(--h2-color-dark);
    --form-text: var(--form-text-dark);
    --button-text: var(--button-text-dark);
    --hair-first: var(--hair-first-dark);
    --hair-second: var(--hair-second-dark);
  }
}

/* spacing */
/* font sizing */
a {
  color: inherit;
  position: relative;
  transition: box-shadow 200ms;
  /* underline */
}
a:before {
  content: "";
  width: 100%;
  height: 0.1em;
  background-color: var(--accent-400);
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 0.2em;
  transition: all 300ms ease;
}
a span::after {
  content: "✔";
  position: absolute;
  transform: scale(0.7);
  inset-inline-start: -0.6em;
  inset-block-start: -0.4em;
  color: var(--main-100);
}
a:visited span::after {
  color: var(--accent-200);
}
a:hover {
  -webkit-text-decoration-color: var(--accent-300);
          text-decoration-color: var(--accent-300);
  color: var(--link-text);
}
a:hover:before {
  width: 4px;
  height: 4px;
}
a:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus-color);
}

a[class] {
  text-decoration: none;
  position: relative;
}
a[class]::after {
  content: "";
  width: 100%;
  height: 1.3em;
  display: block;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: -1;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  background-color: var(--accent-300);
  transition: -webkit-clip-path 300ms ease;
  transition: clip-path 300ms ease;
  transition: clip-path 300ms ease, -webkit-clip-path 300ms ease;
}
a[class]:hover::after {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}
a[class]:hover {
  color: black;
}

@font-face {
  font-family: "Khula";
  src: url("../src/fonts/Khula Light 300.ttf") format("truetype"), url("../src/fonts/Khula Regular 400.ttf") format("truetype"), url("../src/fonts/Khula SemiBold 600.ttf") format("truetype"), url("../src/fonts/Khula Bold 700.ttf") format("truetype"), url("../src/fonts/Khula ExtraBold 800.ttf") format("truetype");
  font-weight: 300 400 600 700 800;
}
h1 {
  font-size: clamp(2.07rem, 1.17rem + 4.54vw, 5rem);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: clamp(0.25rem, 0.23rem + 0.1vw, 0.31rem);
}

h2 {
  font-size: clamp(1.73rem, 1.17rem + 2.8vw, 3.53rem);
  font-weight: 800;
  text-transform: uppercase;
}

h3 {
  font-size: clamp(1.73rem, 1.17rem + 2.8vw, 3.53rem);
  font-weight: 600;
  letter-spacing: 0.04em;
}

.nav__item {
  font-size: clamp(1.2rem, 1.02rem + 0.88vw, 1.77rem);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.215em;
}

body {
  font-size: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
  font-weight: 400;
  line-height: 1.5;
}

label {
  font-size: clamp(1.2rem, 1.02rem + 0.88vw, 1.77rem);
}

input,
textarea {
  font-size: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
}

body {
  color: var(--body-text);
  background-color: var(--main-100);
  font-family: "Khula", sans-serif;
}

header,
main,
footer {
  transition: opacity 200ms 200ms;
}

.nav {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1000px) {
  .nav {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.nav__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 1em;
  align-items: center;
}
.nav__icon {
  width: 4em;
  height: 3.5em;
  margin-inline: 0.5em 1em;
  order: 2;
}
@media (min-width: 355px) {
  .nav__icon {
    order: 0;
  }
}
.nav__name {
  line-height: 0.8;
  text-align: center;
  padding-block: 0.5em;
}
@media (min-width: 1000px) {
  .nav__name {
    text-align: start;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
.nav__menu {
  flex: 0 1 100%;
  order: 2;
  margin-block: 0.5em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (min-width: 1000px) {
  .nav__menu {
    flex-basis: 45%;
    padding-block: 0;
  }
}
.nav__item {
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}
@media (min-width: 1000px) {
  .nav__item {
    margin: 0;
  }
}
.nav__link {
  padding: 0em 0.75em;
}
.nav__link::before {
  width: 0;
  height: 0;
}
.nav__link:hover::before {
  width: 0;
  height: 0;
}

.theme-toggle {
  position: relative;
}
.theme-toggle fieldset {
  display: flex;
  gap: 1em;
  padding-block: 0.3em;
  padding-inline: 0.5em;
  border: 2px solid var(--main-300);
  border-radius: 0.2em;
  transition: border 200ms;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.theme-toggle fieldset:focus-within {
  border-color: var(--focus-color);
  transition: border-color 200ms;
}
.theme-toggle .current-setting {
  position: relative;
  margin-inline: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: clamp(0.83rem, 0.82rem + 0.08vw, 0.88rem);
}
.theme-toggle .current-setting span {
  text-transform: uppercase;
  font-weight: 900;
}
.theme-toggle label {
  position: relative;
  font-size: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
  text-transform: uppercase;
}
.theme-toggle input {
  opacity: 0;
  position: absolute;
}
.theme-toggle input:checked ~ label::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 0.2em;
  background-color: var(--accent-300);
  inset-block-start: -0.2em;
  inset-inline-start: -5%;
}

.moving-lines {
  width: 100%;
  margin-block: 5rem;
}
.moving-lines__line {
  background-color: var(--main-300);
  height: 18px;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  padding-right: 100%;
  transform: translateX(-20%);
}
.moving-lines__line:last-child, .moving-lines__line:nth-child(4) {
  background-color: var(--main-200);
  transform: translateX(-30%);
  -webkit-animation-duration: 3.9s;
          animation-duration: 3.9s;
}
.moving-lines__line:nth-child(2) {
  transform: translateX(-60%);
  -webkit-animation-duration: 4.3s;
          animation-duration: 4.3s;
}
.moving-lines__line:nth-child(3) {
  transform: translateX(0);
  -webkit-animation-duration: 4.7s;
          animation-duration: 4.7s;
}
.moving-lines__line:nth-child(5) {
  transform: translateX(-40%);
  -webkit-animation-duration: 4.9s;
          animation-duration: 4.9s;
}
.moving-lines__line:nth-child(6) {
  transform: translateX(-25%);
  -webkit-animation-duration: 4.6s;
          animation-duration: 4.6s;
}
.moving-lines__line:last-child {
  transform: translateX(-45%);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.moving-lines__line--about {
  transform: translateX(-20%);
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes glide {
  50% {
    transform: translateX(-100%);
  }
}

@keyframes glide {
  50% {
    transform: translateX(-100%);
  }
}
.moving {
  -webkit-animation: glide 3.5s cubic-bezier(0.23, 0.36, 0.28, 0.83) 1;
          animation: glide 3.5s cubic-bezier(0.23, 0.36, 0.28, 0.83) 1;
}

.about {
  -webkit-margin-before: 5rem;
          margin-block-start: 5rem;
  display: grid;
  place-items: center;
}
@media (min-width: 1100px) {
  .about {
    grid-template-columns: 8fr 1fr 8fr;
    grid-template-rows: 1fr 3fr 1fr;
    place-items: flex-start;
  }
}
.about__title {
  position: relative;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}
@media (min-width: 1100px) {
  .about__title {
    grid-row: 1;
    grid-column-start: 3;
    align-self: flex-end;
  }
}
.about__title::before {
  content: "";
  position: absolute;
  top: 0;
  width: 102%;
  height: 80%;
  transform: translateX(-1%);
  background-color: var(--accent-400);
  z-index: -1;
}
.about__image {
  filter: drop-shadow(3px 5px 7px rgba(0, 0, 0, 0.4));
  max-width: 100%;
  margin-inline: auto;
}
@media (min-width: 1100px) {
  .about__image {
    grid-area: 2/1;
  }
}
@media (min-width: 1100px) {
  .about__line {
    grid-area: 3/1;
  }
}
.about__container {
  display: grid;
  padding-inline: 0.5em;
}
@media (min-width: 1100px) {
  .about__container {
    grid-area: 2/3;
    padding-inline: 0;
  }
}
.about__container--tidbit {
  text-align: center;
  font-size: clamp(1.44rem, 1.11rem + 1.65vw, 2.5rem);
}
@media (min-width: 1100px) {
  .about__container--tidbit {
    text-align: start;
  }
}
.about__container--para {
  max-width: 65ch;
  -webkit-margin-before: clamp(0.5rem, 0.46rem + 0.19vw, 0.63rem);
          margin-block-start: clamp(0.5rem, 0.46rem + 0.19vw, 0.63rem);
}
@media (min-width: 1100px) {
  .about__container--para {
    -webkit-padding-end: 0.5em;
            padding-inline-end: 0.5em;
  }
}

.projects {
  display: grid;
  -webkit-margin-before: clamp(3rem, 2.77rem + 1.17vw, 3.75rem);
          margin-block-start: clamp(3rem, 2.77rem + 1.17vw, 3.75rem);
  gap: clamp(0.75rem, 0.69rem + 0.29vw, 0.94rem);
  max-width: 100%;
  overflow-x: hidden;
}
.projects__title {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  place-self: center;
  position: relative;
}
.projects__title::before {
  content: "";
  position: absolute;
  top: 0;
  width: 102%;
  height: 80%;
  transform: translateX(-1%);
  background-color: var(--accent-400);
  z-index: -1;
}
.projects .project.right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 500ms, transform 700ms cubic-bezier(0.5, 1.75, 0.75, 1.25);
}
.projects .project.right.in-view {
  opacity: 1;
  transform: translateX(0);
}
.projects .project.left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 500ms, transform 700ms cubic-bezier(0.5, 1.75, 0.75, 1.25);
}
.projects .project.left.in-view {
  opacity: 1;
  transform: translateX(0);
}

.project {
  opacity: 0;
  padding-block: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
}
.project__image-cont {
  position: relative;
  text-align: center;
  z-index: -1;
}
@media (min-width: 1000px) {
  .project__image-cont {
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
}
.project__image-cont--platter {
  position: absolute;
  height: 18rem;
  width: 100%;
  inset-block-start: calc(50% - 9rem);
  inset-inline-start: 0;
  background-color: var(--main-200);
  z-index: 0;
}
.project__image-cont--image {
  position: relative;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  max-width: 100%;
  padding: 0.5em;
}
.project__words-cont {
  margin-block: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
  padding-inline: 0.5em;
}
@media (min-width: 1000px) {
  .project__words-cont {
    -webkit-margin-before: 0;
            margin-block-start: 0;
  }
}
.project__words-cont--environment {
  font-size: clamp(1.2rem, 1.02rem + 0.88vw, 1.77rem);
}
.project__words-cont--description {
  padding-block: clamp(0.75rem, 0.69rem + 0.29vw, 0.94rem);
  position: relative;
  max-width: 60ch;
}
.project__words-cont--first-link, .project__words-cont--second-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 1.02rem + 0.88vw, 1.77rem);
}
@media (min-width: 1000px) {
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
}

.project.right .project__image-cont--platter {
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}
.project.right .project__words-cont {
  text-align: end;
}
@media (min-width: 1000px) {
  .project.right .project__words-cont {
    grid-column: 1;
    grid-row: 1;
  }
}
.project.right .project__words-cont--title {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
@media (min-width: 1000px) {
  .project.right .project__words-cont--title {
    -webkit-margin-end: -4rem;
            margin-inline-end: -4rem;
  }
}
.project.right .project__words-cont--description {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.project.left .project__image-cont--platter {
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
.project.left .project__words-cont {
  text-align: start;
}
@media (min-width: 1000px) {
  .project.left .project__words-cont {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (min-width: 1000px) {
  .project.left .project__words-cont--title {
    -webkit-margin-start: -4rem;
            margin-inline-start: -4rem;
  }
}
.project.left .project__words-cont--description {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}

.project.right .project__image-cont--platter {
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}
.project.right .project__words-cont {
  text-align: end;
}
@media (min-width: 1000px) {
  .project.right .project__words-cont {
    grid-column: 1;
    grid-row: 1;
  }
}
.project.right .project__words-cont--environment {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
@media (min-width: 1000px) {
  .project.right .project__words-cont--environment {
    -webkit-margin-end: -1rem;
            margin-inline-end: -1rem;
  }
}
.project.right .project__words-cont--description {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.project.left .project__image-cont--platter {
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
.project.left .project__words-cont {
  text-align: start;
}
@media (min-width: 1000px) {
  .project.left .project__words-cont {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (min-width: 1000px) {
  .project.left .project__words-cont--environment {
    -webkit-margin-start: -1rem;
            margin-inline-start: -1rem;
  }
}
.project.left .project__words-cont--description {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}

.project.right .project__image-cont--platter {
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}
.project.right .project__words-cont {
  text-align: end;
}
@media (min-width: 1000px) {
  .project.right .project__words-cont {
    grid-column: 1;
    grid-row: 1;
  }
}
.project.right .project__words-cont--description {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
@media (min-width: 1000px) {
  .project.right .project__words-cont--description {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
  }
}
.project.right .project__words-cont--description {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.project.left .project__image-cont--platter {
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
.project.left .project__words-cont {
  text-align: start;
}
@media (min-width: 1000px) {
  .project.left .project__words-cont {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (min-width: 1000px) {
  .project.left .project__words-cont--description {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
}
.project.left .project__words-cont--description {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}

.project.right .project__image-cont--platter {
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}
.project.right .project__words-cont {
  text-align: end;
}
@media (min-width: 1000px) {
  .project.right .project__words-cont {
    grid-column: 1;
    grid-row: 1;
  }
}
.project.right .project__words-cont--first-link {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
@media (min-width: 1000px) {
  .project.right .project__words-cont--first-link {
    -webkit-margin-end: -2rem;
            margin-inline-end: -2rem;
  }
}
.project.right .project__words-cont--description {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.project.left .project__image-cont--platter {
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
.project.left .project__words-cont {
  text-align: start;
}
@media (min-width: 1000px) {
  .project.left .project__words-cont {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (min-width: 1000px) {
  .project.left .project__words-cont--first-link {
    -webkit-margin-start: -2rem;
            margin-inline-start: -2rem;
  }
}
.project.left .project__words-cont--description {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}

.project.right .project__image-cont--platter {
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}
.project.right .project__words-cont {
  text-align: end;
}
@media (min-width: 1000px) {
  .project.right .project__words-cont {
    grid-column: 1;
    grid-row: 1;
  }
}
.project.right .project__words-cont--second-link {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
@media (min-width: 1000px) {
  .project.right .project__words-cont--second-link {
    -webkit-margin-end: -4rem;
            margin-inline-end: -4rem;
  }
}
.project.right .project__words-cont--description {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.project.left .project__image-cont--platter {
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
.project.left .project__words-cont {
  text-align: start;
}
@media (min-width: 1000px) {
  .project.left .project__words-cont {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (min-width: 1000px) {
  .project.left .project__words-cont--second-link {
    -webkit-margin-start: -4rem;
            margin-inline-start: -4rem;
  }
}
.project.left .project__words-cont--description {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}

.more {
  max-width: 60ch;
  margin-inline: auto;
  margin-block: clamp(5rem, 4.61rem + 1.94vw, 6.25rem);
}
.more p {
  padding: 0.5em;
}

.contact__form fieldset {
  border: none;
  background-color: var(--main-200);
  border-radius: 0.2em;
  padding: 2em 1em;
}
.contact__form fieldset input + label {
  -webkit-margin-before: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
          margin-block-start: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
}
.contact__form fieldset input, .contact__form fieldset textarea {
  color: var(--form-text);
  background-color: var(--main-100);
  border-radius: 0.5em;
  border: 2px solid var(--accent-300);
  transition: box-shadow 200ms ease, color 200ms ease;
}
.contact__form fieldset input:focus, .contact__form fieldset textarea:focus {
  color: black;
  border-color: var(--accent-400);
  box-shadow: 0 0 0 3px var(--accent-200);
  outline: 3px solid transparent;
  background-color: white;
}

form > input[type=submit] {
  border-radius: 2rem;
  border: none;
  padding: 0.7em 4em 0.4em;
  cursor: pointer;
  background-color: var(--main-400);
  color: var(--button-text);
  transition: color 200ms, background-color 200ms, box-shadow 200ms;
}
form > input[type=submit]:hover {
  background-color: var(--accent-400);
  color: black;
}
form > input[type=submit]:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--focus-color);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-margin-before: clamp(3rem, 2.77rem + 1.17vw, 3.75rem);
          margin-block-start: clamp(3rem, 2.77rem + 1.17vw, 3.75rem);
  padding-inline: clamp(0.5rem, 0.46rem + 0.19vw, 0.63rem);
}
.contact h2 {
  position: relative;
  -webkit-margin-after: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
          margin-block-end: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
}
.contact h2::before {
  content: "";
  position: absolute;
  top: 0;
  width: 102%;
  height: 80%;
  transform: translateX(-1%);
  background-color: var(--accent-400);
  z-index: -1;
}
.contact__form {
  display: grid;
  gap: 1em;
  width: 100%;
  max-width: 65ch;
}
.contact__form fieldset {
  display: grid;
}
.contact__form > input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
}

.footer {
  width: 100%;
  background-color: var(--main-200);
  position: absolute;
  -webkit-margin-before: clamp(3rem, 2.77rem + 1.17vw, 3.75rem);
          margin-block-start: clamp(3rem, 2.77rem + 1.17vw, 3.75rem);
}
.footer__contact-title {
  text-align: center;
  padding-top: clamp(2rem, 1.84rem + 0.78vw, 2.5rem);
  font-weight: 200;
}
.footer p {
  text-align: center;
  padding: 1rem;
}

.sm-links {
  width: 100%;
}
.sm-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: max(60%, 300px);
  gap: 1rem;
  margin-inline: auto;
  margin-block: clamp(3rem, 2.77rem + 1.17vw, 3.75rem);
  padding: clamp(0.5rem, 0.46rem + 0.19vw, 0.63rem);
}
.sm-links__link {
  width: auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.sm-links a {
  width: auto;
  height: auto;
}
.sm-links a:focus {
  box-shadow: none;
}
.sm-links a:focus img {
  box-shadow: 0 0 0 2px var(--focus-color);
}
.sm-links a img {
  width: 40px;
  height: 40px;
  transition: box-shadow 200ms;
}
.sm-links a::before {
  content: "";
  width: 0;
  height: 0;
}/*# sourceMappingURL=main.css.map */