@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik+Mono+One&display=swap');

:root {
  --bg-color: rgba(235,225,251, 1);
  --text-color: rgba(113,0,182, 1);
  --text-soft-color: rgba(133,0,213, 1);
  --text-strong-color: rgba(113,0,182, 1);
  --subtle-color: rgba(239,232,252, 0.9);
  --border-color: rgba(191,161,233, 1);
  --shadow-color: rgba(186,157,228, 1);
  --input-color: rgba(255,255,255, 1);
  --outline-color: rgba(3,187,190, 1);
  --mark-color: rgba(0,83,85, 0.08);
  --special-color: rgba(0,83,85, 1);
  --special-bg-color: rgba(0,99,101, 0.8);
  --special-text-color: rgba(255,255,255, 1);
  --special-shadow-color: rgba(1,55,56, 1);
  --special-mark-color: rgba(255,255,255, 0.08);
  --light-color: rgba(201,253,255, 1);
  --dark-color: rgba(2,79,81, 1);
  --text-color-rgb: 113,0,182;
  --bg-color-rgb: 235,225,251;
  --subtle-color-rgb: 239,232,252;
  --special-color-rgb: 0,83,85;
  --special-text-color-rgb: 255,255,255;
  --special-bg-color-rgb: 0,99,101;
  --shadow-color-rgb: 186,157,228;
  --special-shadow-color-rgb: 1,55,56;
  --outline-color-rgb: 3,187,190;
  --dark-color-rgb: 2,79,81;
  --light-color-rgb: 201,253,255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgba(51,43,63, 1);
    --text-color: rgba(204,174,246, 1);
    --text-soft-color: rgba(190,150,243, 1);
    --text-strong-color: rgba(204,174,246, 1);
    --subtle-color: rgba(47,39,58, 0.9);
    --border-color: rgba(99,83,123, 1);
    --shadow-color: rgba(0,0,0, 1);
    --input-color: rgba(32,32,32, 1);
    --outline-color: rgba(3,159,162, 1);
    --mark-color: rgba(3,208,212, 0.08);
    --special-color: rgba(3,208,212, 1);
    --special-bg-color: rgba(0,79,81, 0.9);
    --special-text-color: rgba(197,229,230, 1);
    --special-shadow-color: rgba(0,0,0, 1);
    --special-mark-color: rgba(197,229,230, 0.08);
    --light-color: rgba(4,235,239, 1);
    --dark-color: rgba(1,59,61, 1);
    --text-color-rgb: 204,174,246;
    --bg-color-rgb: 51,43,63;
    --subtle-color-rgb: 47,39,58;
    --special-color-rgb: 3,208,212;
    --special-text-color-rgb: 197,229,230;
    --special-bg-color-rgb: 0,79,81;
    --shadow-color-rgb: 0,0,0;
    --special-shadow-color-rgb: 0,0,0;
    --outline-color-rgb: 3,159,162;
    --dark-color-rgb: 1,59,61;
    --light-color-rgb: 4,235,239;
  }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {
  :root {
    --bg-color: rgba(235,225,251, 1);
    --text-color: rgba(95,0,154, 1);
    --text-soft-color: rgba(95,0,154, 1);
    --text-strong-color: rgba(113,0,182, 1);
    --subtle-color: rgba(239,232,252, 0.9);
    --border-color: rgba(124,104,153, 1);
    --shadow-color: rgba(151,127,186, 1);
    --input-color: rgba(255,255,255, 1);
    --outline-color: rgba(2,179,182, 1);
    --mark-color: rgba(0,70,71, 0.16);
    --special-color: rgba(0,70,71, 1);
    --special-bg-color: rgba(0,85,87, 0.9);
    --special-text-color: rgba(255,255,255, 1);
    --special-shadow-color: rgba(0,0,0, 1);
    --special-mark-color: rgba(255,255,255, 0.16);
    --light-color: rgba(201,253,255, 1);
    --dark-color: rgba(2,79,81, 1);
    --text-color-rgb: 95,0,154;
    --bg-color-rgb: 235,225,251;
    --subtle-color-rgb: 239,232,252;
    --special-color-rgb: 0,70,71;
    --special-text-color-rgb: 255,255,255;
    --special-bg-color-rgb: 0,85,87;
    --shadow-color-rgb: 151,127,186;
    --special-shadow-color-rgb: 0,0,0;
    --outline-color-rgb: 2,179,182;
    --dark-color-rgb: 2,79,81;
    --light-color-rgb: 201,253,255;
  }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
  :root {
    --bg-color: rgba(51,43,63, 1);
    --text-color: rgba(217,197,248, 1);
    --text-soft-color: rgba(217,197,248, 1);
    --text-strong-color: rgba(204,174,246, 1);
    --subtle-color: rgba(47,39,58, 0.9);
    --border-color: rgba(163,137,200, 1);
    --shadow-color: rgba(0,0,0, 1);
    --input-color: rgba(32,32,32, 1);
    --outline-color: rgba(3,165,168, 1);
    --mark-color: rgba(4,228,232, 0.16);
    --special-color: rgba(4,228,232, 1);
    --special-bg-color: rgba(0,76,77, 0.9);
    --special-text-color: rgba(226,243,243, 1);
    --special-shadow-color: rgba(0,0,0, 1);
    --special-mark-color: rgba(226,243,243, 0.16);
    --light-color: rgba(67,251,255, 1);
    --dark-color: rgba(1,59,61, 1);
    --text-color-rgb: 217,197,248;
    --bg-color-rgb: 51,43,63;
    --subtle-color-rgb: 47,39,58;
    --special-color-rgb: 4,228,232;
    --special-text-color-rgb: 226,243,243;
    --special-bg-color-rgb: 0,76,77;
    --shadow-color-rgb: 0,0,0;
    --special-shadow-color-rgb: 0,0,0;
    --outline-color-rgb: 3,165,168;
    --dark-color-rgb: 1,59,61;
    --light-color-rgb: 67,251,255;
  }
}



body {
  margin: 0;
  font-family: 'Rubik Mono One', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: purple;
  background-image: linear-gradient(132deg, rgba(51,43,63,0.8), rgba(47,39,58, 0.7)), url('https://images.unsplash.com/photo-1416244579084-cceb7ab682ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80');
}

nav {
  background-color:rgba(67,251,255, .1);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: right;
}

@media (max-width: 600px) {
  nav {
    justify-content: center;
  }
}

@keyframes zoomin {
  from {margin-left: 70%; opacity: 0;}
  to {margin-left: 0; opacity: 1;}
}

#name {
  font-size: 60px;
  color: var(--text-strong-color);
  text-shadow: 7px 7px var(--shadow-color);
  margin-left: 0;
  animation-name: zoomin;
  animation-duration: 2s;
  animation-timing-function: ease;
}

#navbar a {
  border: 2px solid var(--border-color);
  background-color: var(--subtle-color);
  border-radius: 10px;
  font-size: 14px;
  color: var(--text-soft-color);
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  box-shadow: 1px 2px 5px var(--shadow-color);
}

#navbar a:hover {
  background-color: var(--mark-color);
}

header {
  margin-top: 200px;
  margin-left: 100px;
  height: 80vh;
}

p {
  font-family: 'Open Sans', sans-serif;
}

@keyframes boomin {
  from {margin-left: 0; opacity: 0;}
  to {margin-left: 300px; opacity: 1}
}

#job {
  display: none;
  color: var(--special-text-color);
  font-size: 18px;
  text-shadow: 4px gray;
  margin-top: 50px;
  margin-left: 300px;
}

#about {
  height: 100vh;
  background-color: var(--special-bg-color);
}

.about-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.about-container img {
  width: 600px;
  height: auto;
  border-radius: 50%;
  border: 4px solid var(--border-color);
  align-self: flex-end;
  margin-bottom: 100px;
}

.about-stuff {
  align-self: center;
}

.about-stuff h2 {
  color: var(--special-color);
  text-shadow: 3px 3px var(--special-shadow-color);
  text-align: right;
  margin-right: 100px;
  margin-bottom: 40px;
}

.about-stuff p {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  width: 600px;
  margin-right: 100px;
  color: var(--special-text-color);
}

@media (max-width: 1400px) {

  .about-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .about-stuff p {
    margin: 0;
  }

  .about-stuff h2 {
    text-align: center;
    margin: 0;
  }

  .about-container img {
    align-self: center;
  }
}

#projects {
  min-height: 100vh;
  background-color: var(--subtle-color);
}

#project-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#projects h2 {
  color: var(--text-color);
  padding-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  text-shadow: 3px 3px var(--shadow-color);
}

.grid {
  margin-left: 50px;
  width: 1000px;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(8, 300px);
  grid-gap: 20px;
  overflow-y: scroll;
}

@media (max-width: 1500px) {
  .grid {
    width: 650px;
  }
}

@media (max-width: 1200px) {
  .grid {
    width: 400px;
  }
}

.grid .container {
  position: relative;
  width: 100%;
}

.grid img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  opacity: 1;
  transition: opacity 0.3s;
  transition-timing-function: ease-out;
}

.shadow {
  position: absolute;
  box-shadow: inset 1px 1px 5px rgb(27, 1, 68);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  border-radius: 10px;
  box-shadow: inset 2px 2px 20px black;
  background-color: var(--dark-color);
}

.container:hover .overlay{
  opacity: 95%;
}

.overlay .text-container {
  font-family: 'Rubik Mono One', sans-serif;
  color: var(--special-text-color);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.overlay .link-container {
  font-size: 18px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  
}

.link-container a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  width: min-content;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  background-color: var(--subtle-color);
  border-radius: 10px;
  box-shadow: 1px 2px 5px var(--shadow-color);
  padding: 5px;
}

.link-container a:hover {
  color: var(--special-color);
  background-color: var(--special-mark-color);
}

.text {
  text-align: center;
}

@keyframes appear {
  0% {transform: scale(0.97)}
  55% {transform: scale(1.03)}
  100% {transform: scale(1)}
}

#info-text {
  min-width: 300px;
  width: 400px;
  height: auto;
  margin: 50px;
  background: var(--special-text-color);
  border: 1px solid var(--light-color);
  border-radius: 10px;
  color: var(--dark-color);
  box-shadow: 2px 2px 5px var(--special-shadow-color);
}

#info-text h2 {
  margin: 0;
  padding: 20px;
  text-align: center;
  color: var(--dark-color);
  text-shadow: none;
}

#info-text p {
  margin: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

hr {
  color: var(--light-color);
}

button {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  width: min-content;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  background-color: var(--subtle-color);
  border-radius: 10px;
  box-shadow: 1px 2px 5px var(--shadow-color);
  padding: 10px;
  font-size: 18px;
}

button:hover {
  color: var(--special-color);
  background-color: var(--special-mark-color);
}

html {
  scroll-behavior: smooth;
  cursor: cell;
  visibility: visible;
  opacity: 1;
}
