
:root {
  --pewter-blue: #779cabff;
  --english-violet: #6b4e71ff;
  --middle-blue-green: #a2e8ddff;
  --medium-spring-green: #32de8aff;
  --terra-cotta: rgba(237, 234, 90, 0.46);

  --pewter-blue-faded: rgba(119, 156, 171, 0.521);
  --english-violet-faded: rgba(107, 78, 113, 0.568);
  --medium-spring-green-faded: rgba(50, 222, 139, 0.568);
  --middle-blue-green-faded: rgba(162, 232, 222, 0.918);
  --terra-cotta-faded: rgba(237, 234, 90, 0.26);
}

/* https://images.unsplash.com/photo-1416244579084-cceb7ab682ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80 */

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #779cab;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f0ebf8' fill-opacity='0.15'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* background-image: linear-gradient(132deg, rgba(119, 156, 171, 0.85), rgba(119, 157, 171, 0.85)), url(''); */
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 30px;
  color: white;
  font-weight: bolder;
}

h3 {
  color: white;
  text-align: center;
}

p {
  color: white;
  font-size: 20px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a, button {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border: 2px solid var(--pewter-blue);
  background: var(--pewter-blue-faded);
  border-radius: 10px;
  color: rgb(205, 176, 212);
  margin: 20px;
  padding: 10px;
  box-shadow: 1px 2px 5px black;
}

a:hover, button:hover {
  background-color: var(--terra-cotta);
  color: black;
}


/* HEADER START */

header {
  background-color: var(--pewter-blue-faded);
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

header img {
  min-width: 90px;
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 50%;
  margin: 10px;
}

.menu-buttons {
  display: flex;
}

.mobile-menu-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-menu-buttons li {
  margin-bottom: 50px;
}

.mobile-menu-buttons li a {
  font-weight: bolder;
  font-size: 20px;
  background: none;
  box-shadow: none;
  border: none;
  color: black;
}

@media (max-width: 900px) {
  #navbar {
    display: none;
  }
}

@media (min-width: 900px) {
  .nav-toggle {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

.nav-toggle {
  cursor: pointer;
  padding: 5px;
  margin-right: 50px;
  background: var(--english-violet);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  z-index: 9999999999;
}

.nav-toggle span {
  height: 2px;
  width: 30px;
  display: block;
  margin: 8px 10px;
  background: white;
  border-radius: 5px;
}

.nav-toggle.show span.one {
  transform: rotate(45deg);
  margin-top: 10px;
}

.nav-toggle.show  span.two {
  transform: rotate(-45deg);
  margin-top: -10px;
}

.mobile-menu {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: var(--terra-cotta);
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.show {
  visibility: visible;
  opacity: 1;
}


/* HEADER END */

/*  START main section*/

#main {
  margin-top: 200px;
  height: 80vh;
}

#main img {
  width: 500px;
  margin-left: 70%;
}

@keyframes zoomin {
  from {
    margin-left: 0;
    opacity: 0;
  }
  to {
    margin-left: 100px;
    opacity: 1;
  }
}

#name {
  text-align: center;
  font-size: 60px;
  color: var(--english-violet);
  margin-left: 100px;
  animation-name: zoomin;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes boomin {
  from {
    margin-left: 0;
    opacity: 0;
  }
  to {
    margin-left: 300px;
    opacity: 1;
  }
}

#job {
  text-align: center;
  color: var(--english-violet);
  font-size: 20px;
  font-weight: bolder;
  margin-top: 50px;
  margin-left: 300px;
  text-shadow: none;
  animation-name: boomin; 
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes loomin {
  from {
    width: 400px;
    opacity: 0;
  }
  to {
    width: 590px;
    opacity: 1;
  }
}

.main-container {
  background-color: var(--terra-cotta-faded);
  width: 590px;
  padding: 50px 30px 50px 0;
  opacity: 1;
  animation-name: loomin;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@media (max-width: 640px) {
  .main-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #name, #job {
    animation: none;
    margin-left: 0;
  }
}


@media (max-width: 390px) {
  #name {
    font-size: 50px;
  }
}

/* ABOUT SECTION START */

#about {
  height: 100vh;
  width: 95%;
  background-color: var(--english-violet);
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

#about img {
  max-width: 100%;
  display: block;
  width: 600px;
  height: auto;
  border-radius: 100%;
  border: 3px solid var(--english-violet);
  align-self: flex-end;
  margin-bottom: 100px;
}

.about-stuff {
  align-self: center;
  max-width: 40%;
}

.about-stuff h2 {
  color: white;
  text-align: right;
  margin-bottom: 60px;
}

.about-stuff p {
  color: white;
}

@media (max-width: 1200px) {
  #about {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    height: max-content;
  }

  #about img {
    width: 80%;
    margin-top: 50px;
    align-self: center;
  }

  .about-stuff {
    max-width: 80%;
  }

  .about-stuff h2 {
    text-align: center;
    margin-top: 120px;
  }
}

/* ABOUT SECTION END */

/*PROJECTS*/

#projects {
  min-height: 100vh;
  width: 95%;
  margin-left: 5%;
  background-color: var(--english-violet);
}

#project-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#projects h2 {
  padding-top: 120px;
  margin-left: 100px;
  margin-bottom: 80px;
}

.grid {
  padding: 50px;
  width: 960px;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(auto-fill, 300px);
  grid-gap: 20px;
  overflow-y: scroll;
}

@media (max-width: 1650px) {
  .grid {
    width: 640px;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(auto-fill, 300px);
  }
}

@media (max-width: 1350px) {
  .grid {
    width: 400px;
    grid-template-columns: 400px;
    grid-template-rows: repeat(auto-fill, 400px);
  }
}

@media (max-width: 1200px) {
  #project-container {
    flex-direction: column-reverse;
  }

  #projects {
    width: 100%;
    margin-left: 0;
  }

  #projects h2 {
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .grid {
    margin: 30px;
    padding: 20px;
    height: 40vh;
    width: 960px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(auto-fill, 300px);
  }
}

@media (max-width: 1050px) {
  .grid {
    width: 640px;
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 700px) {
  .grid {
    width: auto;
    grid-template-columns: 350px;
    grid-template-rows: repeat(auto-fill, 350px);
    overflow: visible;
    height: auto;
  }

  #projects {
    height: fit-content;
  }
}

.grid .container {
  position: relative;
  width: 100%;
}

.grid img {
  object-fit: cover;
  border-radius: 4rem;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s;
  transition-timing-function: ease-out;
}

.shadow {
  position: absolute;
  box-shadow: inset 1px 1px 5px var(--english-violet);
  border-radius: 4rem;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 4rem;
  box-shadow: inset 2px 2px 20px var(--english-violet);
  background-color: var(--english-violet);
}

.container:hover .overlay {
  opacity: 90%;
}

.overlay .text-container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (pointer: coarse) {
  .grid .overlay {
    height: 50%;
    width: 100%;
    background: var(--english-violet);
    top: 25%;
    opacity: 90%;
    border-radius: 0;
    overflow: hidden;
  }
  .text-container a, .text-container h3 {
    margin: 5px;
  }

}
.overlay .link-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color {
  background-color: var(--terra-cotta);
  transition: background-color 0.5s ease;
}

@keyframes appear {
  0% {
    transform: scale(0.97);
  }
  55% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

#info-text {
  align-self: center;
  width: 400px;
  height: auto;
}

#info-text p {
  margin: 20px;
  font-size: 16px;
}

@media (max-width: 1200px) {
  #info-text {
    width: 800px;
  }
}

@media (max-width: 1050px) {
  #info-text {
    width: 600px;
  }
}

@media (max-width: 700px) {
  #info-text {
    width: 400px;
  }
}

hr {
  color: white;
}

#attributes {
  display: flex;
  justify-content: space-around;
}

#attributes p {
  font-size: 14px;
}

#attributes a{
  background: none;
  border: none;
  box-shadow: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-decoration-line: underline;
  color: white;
}

html {
  scroll-behavior: smooth;
  cursor: cell;
  visibility: visible;
  opacity: 1;
}
