@use '../utilities/variables' as *;

fieldset {
  border: none;
  background-color: var(--main-200);
  border-radius: .2em;
  padding: 2em 1em;

  & input+label {
    margin-block-start: 1em;
  }

  & input,
  & textarea {
    color: var(--form-text);
    background-color: var(--main-100);
    border-radius: .5em;
    border: 2px solid var(--accent-300);
    transition: box-shadow 200ms ease, color 200ms ease;

    &:focus {
      color: black;
      border-color: var(--accent-400);
      box-shadow: 0 0 0 3px var(--accent-200);
      outline: 3px solid transparent;
      background-color: white;
    }
  }
}

form>input {
  border-radius: 2rem;
  border: none;
  padding: .7em 4em .5em;
  cursor: pointer;
  background-color: var(--main-200);
  color: var(--button-text);
  transition: color 200ms, background-color 200ms, box-shadow 200ms;

  &:hover {
    background-color: var(--accent-400);
    color: black;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px var(--focus-color);
  }
}

input[type=submit] {
  transition: color 200ms, background-color 200ms, box-shadow 200ms;
}