@use '../utilities/variables' as *;

fieldset {
  border: none;
  background-color: $main-200;
  border-radius: .2em;
  padding: 2em 1em;

  & input+label {
    margin-block-start: 1em;
  }

  & input,
  & textarea {
    background-color: $main-100;
    border-radius: .5em;
    border: 2px solid $accent-300;
    transition: box-shadow 200ms ease, color 200ms ease;

    &:focus {
      border-color: $accent-400;
      box-shadow: 0 0 0 3px $accent-200;
      outline: 3px solid transparent;
      background-color: white;
    }
  }
}

form>input {
  border-radius: 2rem;
  border: none;
  padding: .7em 2em .5em;
  cursor: pointer;
  background-color: $main-400;
  color: white;
  transition: color 200ms, background-color 200ms, box-shadow 200ms;

  &:hover {
    background-color: $accent-400;
    color: black;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px black;
  }
}

input[type=submit] {
  transition: color 200ms, background-color 200ms, box-shadow 200ms;
}