@use '../utilities/variables' as *;

a {
  color: inherit;
  position: relative;

  /* underline */
  &:before {
    content: '';
    width: 100%;
    height: .1em;
    background-color: $accent-400;
    position: absolute;
    inset-inline-end: 0;
    inset-block-end: 0;
    transition: all 300ms ease;
  }

  &:hover {
    text-decoration-color: $accent-300;
    color: blue;

    &:before {
      width: 4px;
      height: 4px;
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px black;
  }
}

a[class] {
  text-decoration: none;
  position: relative;
  width: fit-content;

  &::after {
    content: '';
    width: 100%;
    height: 1.3em;
    display: block;
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: -1;
    clip-path: inset(0 100% 0 0);
    background-color: $accent-300;
    transition: clip-path 300ms ease;
  }

  &:hover::after {
    clip-path: inset(0 0 0 0);
  }

  &:hover {
    color: black;
  }
}