@use '../utilities/variables' as *;

a {
  color: inherit;
  position: relative;
  transition: box-shadow 200ms;

  /* underline */
  &:before {
    content: '';
    width: 100%;
    height: .1em;
    background-color: var(--accent-400);
    position: absolute;
    inset-inline-end: 0;
    inset-block-end: .2em;
    transition: all 300ms ease;
  }

  & span::after {
    content: "✔";
    position: absolute;
    transform: scale(.7);
    inset-inline-start: -.6em;
    inset-block-start: -.4em;
    color: var(--main-100);
  }

  &:visited {
    & span::after {
      color: var(--accent-200);
    }
  }

  &:hover {
    text-decoration-color: var(--accent-300);
    color: var(--link-text);

    &:before {
      width: 4px;
      height: 4px;
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--focus-color);
  }

}

a[class] {
  text-decoration: none;
  position: relative;
  width: fit-content;

  &::after {
    content: '';
    width: 100%;
    height: 1.3em;
    display: block;
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: -1;
    clip-path: inset(0 100% 0 0);
    background-color: var(--accent-300);
    transition: clip-path 300ms ease;
  }

  &:hover::after {
    clip-path: inset(0 0 0 0);
  }

  &:hover {
    color: black;
  }
}