.theme-toggle {
  position: absolute;
  inset-inline-end: 1em;
  inset-block-start: 200px;

  fieldset {
    display: flex;
    gap: 1em;
    padding-block: .3em;
    padding-inline: .5em;
    border: 2px solid var(--main-400);
  }

  & label {
    position: relative;
  }

  & input {
    display: none;
  }

  input:checked~label {
    color: var(--button-text);
  }

  input:checked~label::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.2em;
    background-color: var(--accent-300);
    inset-block-start: .1em;
    inset-inline-start: 0;
    z-index: -1;

  }
}