@use '../utilities/variables' as *;

.theme-toggle {
  position: absolute;
  inset-inline-end: 50%;
  inset-block-start: 185px;
  transform: translateX(50%);

  fieldset {
    display: flex;
    gap: 1em;
    padding-block: .3em;
    padding-inline: .5em;
    border: 2px solid var(--main-300);
    border-radius: .2em;
    transition: border 200ms;

    &:focus-within {
      border-color: var(--focus-color);
      transition: border-color 200ms;
    }
  }

  & label {
    position: relative;
    font-size: $step-0;
    text-transform: uppercase;
  }

  & input {
    opacity: 0;
    position: absolute;
  }



  input:checked~label::after {
    content: '';
    position: absolute;
    width: 110%;
    height: .2em;
    background-color: var(--accent-300);
    inset-block-start: -.2em;
    inset-inline-start: -5%;
    z-index: -1;

  }
}