@use '../utilities/variables' as var;

@font-face {
  font-family: "Khula";
  src: url('../src/fonts/Khula\ Light\ 300.ttf') format('truetype'),
    url('../src/fonts/Khula\ Regular\ 400.ttf') format('truetype'),
    url('../src/fonts/Khula\ SemiBold\ 600.ttf') format('truetype'),
    url('../src/fonts/Khula\ Bold\ 700.ttf') format('truetype'),
    url('../src/fonts/Khula\ ExtraBold\ 800.ttf') format('truetype');
  font-weight: 300 400 600 700 800;
}

$font: "Khula", sans-serif;

h1 {
  font-size: var.$step-4;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.215em;
}

h2 {
  font-size: var.$step-3;
  font-weight: 800;
  text-transform: uppercase;
}

h3 {
  font-size: var.$step-3;
  font-weight: 600;
  letter-spacing: .04em;
}

.nav__item {
  font-size: var.$step-1;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.215em;
}

body {
  font-size: var.$step-0;
  font-weight: 400;
  line-height: 1.5;
}

label {
  font-size: var.$step-1;
}

input,
textarea {
  font-size: var.$step-0;
}