@use '../utilities/variables' as *;

.about {
  margin-block-start: 5rem;
  display: grid;
  place-items: center;

  @media (min-width: 1100px) {
    grid-template-columns: 8fr 1fr 8fr;
    grid-template-rows: 1fr 3fr 1fr;
    place-items: flex-start;
  }

  &__title {
    position: relative;
    margin-block-end: .5em;

    @media (min-width: 1100px) {
      grid-row: 1;
      grid-column-start: 3;
      align-self: flex-end;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 102%;
      height: 80%;
      transform: translateX(-1%);
      background-color: var(--accent-400);
      z-index: -1;
    }
  }

  &__image {
    filter: drop-shadow(3px 5px 7px rgba(0, 0, 0, .4));
    max-width: 100%;
    margin-inline: auto;

    @media (min-width: 1100px) {
      grid-area: 2 / 1;
    }
  }

  &__line {
    @media (min-width: 1100px) {
      grid-area: 3 / 1;
    }
  }

  &__container {
    display: grid;
    padding-inline: .5em;

    @media (min-width: 1100px) {
      grid-area: 2 / 3;
      padding-inline: 0;
    }

    &--tidbit {
      text-align: center;
      font-size: $step-2;

      @media (min-width: 1100px) {
        text-align: start;
      }
    }

    &--para {
      max-width: 65ch;
      margin-block-start: $space-2xs;
    }
  }
}