@use '../components/nav';
@use '../utilities/variables' as var;

.moving-lines {
    width: 100%;
    margin-block: 10rem;

    &__line {
        background-color: var.$main-300;
        height: 18px;
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-block-end: 1rem;
        padding-right: 100%;
        transform: translateX(-20%);

        &:last-child,
        &:nth-child(4) {
            background-color: var.$main-200;
            transform: translateX(-30%);
            animation-duration: 3.9s;
        }

        &:nth-child(2) {
            transform: translateX(-60%);
            animation-duration: 4.3s;
        }

        &:nth-child(3) {
            transform: translateX(0);
            animation-duration: 4.7s;
        }

        &:nth-child(5) {
            transform: translateX(-40%);
            animation-duration: 4.9s;
        }

        &:nth-child(6) {
            transform: translateX(-25%);
            animation-duration: 4.6s;
        }

        &:last-child {
            transform: translateX(-45%);
            animation-duration: 3s;
        }

        &--about {
            transform: translateX(-20%);
            animation-duration: 5s;
        }

    }
}


@keyframes glide {
    50% {
        transform: translateX(-100%);
    }
}

.moving {
    @media (prefers-reduced-motion: no-preference) {
        animation: glide 3.5s cubic-bezier(0.23, 0.36, 0.28, 0.83) 1;
    }
}